*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 1920px;
}
body::-webkit-scrollbar {
    width: 0 !important
}
.naw-bar{
    position: absolute;
    width: 1920px;
    height: 128px;
    left: 0px;
    top: 0px;
}
.nav-bar_content{
    margin: 0 auto;
    width: 1371px;
    height: 44px;
}
.nav-bar_top-bar{
    position: absolute;
    width: 1920px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #1E212C;
}
.nav-bar_top-bar p{
    position: absolute;
    width: 204px;
    height: 21px;
    left: 345px;
    top: calc(50% - 21px/2 - 0.5px);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.6;
}
.nav-bar_menu-secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 364px;
    height: 21px;
    left: calc(50% - 364px/2 - 34px);
    top: calc(50% - 21px/2 - 0.5px);
}
.nav-bar_menu-secondary a{
    position: static;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.6;
    flex: none;
    flex-grow: 0;
    margin: 0px 32px;
    text-decoration: none;
}
.Contacts{
    width: 56px;
    height: 21px;
    left: calc(50% - 56px/2 + 154px);
    order: 3;
}
.Blog{
    width: 28px;
    height: 21px;
    left: calc(50% - 28px/2 + 80px);
    order: 2;
}
.Delivery-returns{
    width: 113px;
    height: 21px;
    left: calc(50% - 113px/2 - 125.5px);
    order: 0;
}
.Track-order{
    width: 71px;
    height: 21px;
    left: calc(50% - 71px/2 - 1.5px);
    order: 1;
}
.naw-bar_account{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 122px;
    height: 21px;
    left: 1453px;
    top: 11px;
    /*opacity: 0.6;*/
}
.account_button{
    position: static;
    width: 98px;
    height: 21px;
    right: 0px;
    top: calc(50% - 21px/2);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
    color: #FFFFFF;
}
.nav-bar_menu{
    height: 84px;
    width:1920px;
    background: #FFFFFF;
}
.logo{
    position: absolute;
    width: 130px;
    height: 22px;
    left: 345px;
    top: calc(50% - 22px/2 + 22px);
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 349px;
    height: 26px;
    left: 535px;
    top: calc(50% - 26px/2 + 22px);
}
.menu a{
    position: static;
    height: 26px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
    text-decoration: none;
}
.menu_women{
    width: 57px;
    left: 0px;
    color: #1E212C;
}
.menu_men{
    width: 33px;
    left: 97px;
    color: #1E212C;
}
.menu_girls{
    width: 34px;
    left: 170px;
    color: #1E212C;
}
.menu_boys{
    width: 35px;
    left: 244px;
    color: #1E212C;
}
.menu_sale {
    width: 30px;
    left: 319px;
    color: #FF4242;
}
.nav-bar_search{
    position: absolute;
    width: 380px;
    height: 44px;
    right: 400px;
    top: calc(50% - 44px/2 + 22px);
    background: #FFFFFF;
}
.search-input{
    position: absolute;
    width: 380px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
    border-radius: 4px;
}
.search-input::placeholder{
    position: absolute;
    width: 129px;
    height: 21px;
    left: 16px;
    top: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
}
.nav-bar_search button{
    position: absolute;
    right: 5.2%;
    top: 5.21%;
    bottom: 5.21%;
    background: none;
    border: none;

}
.container{
    margin-bottom: 16px;
}
i {
    width: 16px;
    height: 16px;
    right: 16px;
    top: 14px;
    background: none;
    border: none;
}
.container_hero-slider{
    background: url("Images/hero.jpg");
    position: absolute;
    width: 1920px;
    height: 800px;
    left: 0px;
    top: 162px;
}
.container_hero-slider h2{
    position: absolute;
    height: 27px;
    left: 345px;
    top: 302px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.container_hero-slider h1{
    position: absolute;
    width: 540px;
    height: 94px;
    left: 345px;
    top: 341px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1E212C;
}
.container_shop-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 405px;
    height: 52px;
    left: 345px;
    top: 495px;
}
.shop-sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    position: static;
    width: 152px;
    height: 52px;
    left: 0px;
    top: 0px;
    border: 1px solid #17696A;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    background: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #17696A;
}
.shop-the-menswear{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    position: static;
    width: 229px;
    height: 52px;
    left: 176px;
    top: 0px;
    background: #17696A;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.container_top-categories{
    width: 1230px;
    height: 436px;
    left: 345px;
    top: 902px;
}
.women {
    position: absolute;
    width: 390px;
    height: 436px;
    left: 345px;
    top: 902px;
}
.women_img{
    left: 17.97%;
    right: 61.72%;
    top: 9.92%;
    bottom: 85.79%;
    border-radius: 4px;
}
.men{
    position: absolute;
    width: 390px;
    height: 436px;
    left: 765px;
    top: 902px;
}
.men_img{
    left: 39.84%;
    right: 39.84%;
    top: 9.92%;
    bottom: 85.79%;
    border-radius: 4px;
}
.kids{
    position: absolute;
    width: 390px;
    height: 436px;
    left: 1185px;
    top: 902px;
}
.kids_img{
    left: 61.72%;
    right: 17.97%;
    top: 9.92%;
    bottom: 85.79%;
    border-radius: 4px;
}
.container_top-categories p{
    width: 390px;
    height: 30px;
    left: 345px;
    top: 1308px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #424551;
}
.container_new-arrivals{
    width: 1860px;
    height: 691px;
    left: 30px;
    top: 1518px;
}
.container_new-arrivals h1{
    position: absolute;
    width: 266px;
    height: 60px;
    left: 827px;
    top: 1518px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
.container_new-arrivals_p{
    position: absolute;
    width: 810px;
    height: 54px;
    left: 555px;
    top: 1602px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #787A80;
}
.container_new-arrivals a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color:  #17696A;

}
.product-arrivals{
    display: flex;
    justify-content: flex-start;
}
.card{
    position: absolute;
    width: 285px;
    height: 413px;
    top: 1716px;
    border-radius: 4px;
}
.wish{
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    bottom: 109px;
    border: 2px solid white;
    border-radius: 50%;
    background: #FFFFFF;
}
.wish::before{
    content: url("Images/Vector (Stroke).png");
    left: 2.59%;
    right: 2.59%;
    top: 9.18%;
    bottom: 7.51%;
}

.product-arrivals_card1{
    left: 30px;
}
.product-arrivals_card2{
    left: 345px;
}
.product-arrivals_card3{
    left: 660px;
}
.product-arrivals_card4{
    left: 975px;
}
.product-arrivals_card5{
    left: 1290px;
}
.product-arrivals_card6{
    left: 1605px;
}
.card-description{
    position: absolute;
    width: 253px;
    height: 27px;
    left: 16px;
    top: 336px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #424551;
}
.card-price{
    position: absolute;
    width: 63px;
    height: 26px;
    left: 4px;
    bottom:20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1E212C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}
.container__banner{
    display: flex;
    flex-wrap: wrap;
    width: 1860px;
    height: 1016px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:1051px;
}
.banner-1{
    width: 735px;
    height: 500px;
    left: 30px;
    top: 2389px;
}
.banner-2{
    width: 1000px;
    height: 500px;
    left: 781px;
    margin-left: 16px;
    top: 2389px;
}
.banner-3{
    margin-top: 16px;
    width: 1109px;
    height: 500px;
    left: 30px;
    top: 2905px;
}
.banner-4{
    margin-top: 16px;
   background: #E5E8ED;
    width: 735px;
    height: 500px;
    left: 1155px;
    margin-left: 16px;
    top: 2905px;
}
.banner-4-img{
    position: absolute;
    width: 439px;
    height: 380px;
    left: 1453px;
    top: 2814px;
}
.banner-1 h1{
    margin-left: 60px;
    width: 217px;
    height: 42px;
    left: calc(50% - 217px/2 - 761.5px);
    top: calc(50% - 42px/2 - 2044.5px);
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1E212C;
}
.banner-1 h2{
    margin-left: 60px;
    margin-top: -419px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.explore-new-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 191px;
    height: 44px;
    left: 90px;
   margin-top: 40px;
    border: 1px solid #17696A;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #17696A;
    background: none;
}
.banner-2 h1{
    width: 362px;
    height: 84px;
    margin-left: 60px;
    top: calc(50% - 84px/2 - 2023.5px);
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1E212C;
}
.banner-2 h2{
    height: 21px;
    margin-top:-419px ;
    margin-left: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.shop-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 129px;
    height: 44px;
    left: 841px;
    margin-top: 40px;
    border: 1px solid #17696A;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: #17696A;
    letter-spacing: 0.5px;
}
.banner-2 h3{
    margin-left: 60px;
    margin-top: 139px;
    height: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 209px;
    height: 67px;
    left: 841px;
    margin-top: 12px;
}
.number{
    position: static;
    width: 33px;
    height: 42px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #1E212C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}
.metering{
    position: static;
    width: 31px;
    height: 21px;
    left: 1px;
    top: 46px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #1E212C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}
.hours_p{
    width: 38px;
    left: 0px;
}
.sec_p{
    width: 22px;
    left: 5.5px;
}
.banner-3 h1{
    height: 84px;
    width: 317px;
    margin-left: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1E212C;
}
.banner-3 h2{
    margin-top:-419px ;
    margin-left: 60px;
    height: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.see-offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 155px;
    height: 44px;
    left: 90px;
    margin-top: 40px;
    border: 1px solid #17696A;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    color: #17696A;
}
.banner-4 h1{
    width: 391px;
    height: 42px;
    margin-left: 60px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1E212C;
}
.banner-4 h2{
    height: 21px;
    margin-left: 60px;
    margin-top: 81px;
    top: calc(50% - 21px/2 - 1572px);
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.email-subscription{
    position: absolute;
    width: 360px;
    height: 73px;
    left: 1215px;
    top: 2987px;
    margin-top: -130px;
}
.email-subscription label{
    position: absolute;
    width: 34px;
    height: 21px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}
#email-input{
    position: absolute;
    width: 230px;
    left: 0px;
    right: 0px;
    top: 29px;
    bottom: 0px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
    border-radius: 4px;
}
#email-input::placeholder{
    position: absolute;
    width: 118px;
    height: 21px;
    left: 16px;
    top: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 130px;
    height: 44px;
    right: 0px;
    top: 29px;
    background: #17696A;
    border-radius: 0px 4px 4px 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.banner-4-content p{
    position: absolute;
    width: 360px;
    height: 42px;
    left: 1215px;
   margin-top: 125px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}
footer{
    position: absolute;
    width: 1920px;
    height: 74px;
    left: 0px;
    background: #1E212C;
}
.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 287px;
    left: 345px;
}
.copyright h1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    flex: none;
    margin: 0px 4px;
}
/*.like::before{*/
/*    content: "♡";*/
/*    margin-left: 4.41px;*/
/*    margin-right:4.42px ;*/
/*}*/
.copyright a{
    position: absolute;
    width: 120px;
    height: 26px;
    margin-left: 1170px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
}
.modal{
    display: none;
    left: 0;
    top: 0;
    width: 486px;
    height: 665px;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    z-index: 1;

}
.modal-content{
    position: absolute;
    width: 486px;
    height: 493px;
    margin-left:-725px;
    top: 208px;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    box-sizing: border-box;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 2;
}

.close{
    color: #787A80;
    position: absolute;
    margin-left: 442px;
    margin-top: 28px;
    width: 16px;
    height: 16px;
}
.modal-content h3{
    position: absolute;
    height: 42px;
    left: calc(50% - 82px/2);
    top: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E212C;
}
.modal-content p{
    position: absolute;
    width: 390px;
    margin-left: -270px;
    top: 104px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #787A80;
}
.authorization-form{
    position: absolute;
    width: 390px;
    height: 320px;
    left: 48px;
    top: 180px;
}
.authorization-form input{
    width: 390px;
    height: 44px;
    top: 29px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
}
.authorization-form input::placeholder{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
    left: 16px;
    top: 11px;
}

.authorization-form label{
   display: block;
    /*width: 100px;*/
    height: 21px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 8px;
}
.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    height: 44px;
    left: 9.88%;
    right: 9.88%;
    top: 411px;
    background: #17696A;
    border-radius: 4px;
    width: 390px;
    height: 44px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.create-acc-info{
    width: 188px;
    height: 21px;
    left: 48px;
    top: 479px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-top: 24px;
}
#errorInfoEmail,#errorInfoPassword{
    display: initial;
    width: 300px;
}